.App {
  text-align: center;
}

.employeesSublists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employeesSublists > div {
  margin: 10px 50px;
}

.employeesSublists h2 {
  text-align: start;
}

.employeeName {
  color: blue;
}

.activityTogglers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}